.sidebar-container {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  background: transparent;
}

.navbarShape {
  position: sticky; /* Ensure SVG fills the sidebar */
  top: 0;
  left: 0;
  min-height: 100vh;
  scale: 1;
  flex: 1; /* Ensure it covers full sidebar height */
  color: #1e371b;
  z-index: 0; /* SVG stays in the background */
  overflow: hidden;
}

#sidebar {
  position: relative; /* Sidebar content should be on top */
  z-index: 1; /* Above the SVG */
  align-self: flex-start;
  margin-top:-100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #1e371b;
  background: linear-gradient(to bottom, #4f8c39, #1a2f17);
  mask-image: url(../../assets/image2vector.svg);
  mask-size: auto 100vh;
  mask-repeat: no-repeat;
  mask-position: right;
  -webkit-mask-image: url(../../assets/image2vector.svg);
  -webkit-mask-size: auto 150vh;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: right;
}


.sidebarTopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 4rem 2rem 1rem;
  gap: 2rem;
}

.sidebarNavContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#sidebarLogo{
  width: clamp(4rem, 15vw, 14rem);
}

#sidebar button {
  max-width: 40px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  border: none;
}

button svg {
  width: clamp(1rem, 8vw, 4rem);
  color: antiquewhite;
  height: auto;
}

/* #sidebar svg {
  width: clamp(1rem, 8vw, 6rem);
  color: antiquewhite;
  height: auto;
} */

/* .sidebarTopContainer :first-child{
  width: clamp(2rem, 10vw, 20rem);
}
   */
  .sidebarLogoutContainer {
      display: flex;
      flex-direction: column;
  }

  .sidebarLogoutContainer button {
      max-width: 40px;
      color: aliceblue;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
      font-weight: 600;
      background: transparent;
      border: none;
      white-space: nowrap;
      gap: 2em;
      margin-bottom: 2rem;
  }

  .sidebarLogoutContainer button img {
      width: clamp(1rem, 8vw, 4rem);
      color: antiquewhite;
      height: auto;
  }

  .sidebarLogoutContainer h4 {
      width: clamp(1rem, 8vw, 4rem);
      color: antiquewhite;
      height: auto;
      /* white-space: nowrap; */
      text-align: left;
  }