/* .nav {
  display: flex;
  justify-content: space-evenly;
} */
.sidebarNavList {
    padding: 10px;
    height: 100%;
}
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 1em;
    height: 100vh;
    border-right: 1.3px solid #000;
    position: sticky;

  }

  #sidebar ul {
    list-style: none;
  }

  #sidebar svg {
    flex-shrink: 0;
    fill: black;
  }

  
  .sidebarContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sidebarContainer svg {
    height: 35px;
    width: 35px;
    margin: 3px;
    padding: 0;
  }
  .sidebarContainer span {
    font-size: 20px;
    margin: 10px;
  }
  .sidebarContainer li {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;

  }
  #sidebarList {
    border-radius: 5px;
    border: 1.5px solid black;
  }
  .sidebarIcon {
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;    
  } 
  .sidebarTitle {
    font-size: 20px;
    margin: 6px;
  }
  
  .sidebar-button-container {
    margin-bottom: 24px;
  }
  .sidebar-logout {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .sidebar-username {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
  }
  .contentPage__user-logoutBTN{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 3px;
    border: 1.5px solid black;
  }
  .sidebar-logout-logo{
    margin-right: 22px;

  }