.match-group {
  padding: 3em;
  margin-bottom: 3rem;
  border: dashed 2px #171515;
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
}

/* .primary-section {
  display: flex;
  flex-wrap: wrap;
} */

/* .matches {
  display: flex;
  flex-direction: column;
} */


.card-stack {
  display: flex;
  flex-direction: column-reverse;
}


/* Container for confirmed matches */
/* .confirmed-matches {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.confirmed-matches h4 {
  color: #4f8c39;
  border-bottom: 1px solid #4f8c39;
  padding-bottom: 8px;
  margin-top: 0;
} */

/* Confirmed matches stack */
/* .confirmed-card-stack {
  display: flex;
  position: relative;
  overflow-x: visible;
  margin-top: 10px;
} */

/* Style for confirmed match cards */
/* .confirmed-match-item {
  margin-left: calc(-50% + 40px);
  width: 85%;
} */

/* .confirmed-match-item:first-child {
  margin-left: 0;
} */

/* Additional header styling */
.matches h4 {
  margin-top: 10px;
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
  padding-bottom: 8px;
}

/* No matches message */
.no-matches-message {
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: #757575;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-top: 20px;
}