.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    height: 100%;
    width: 100%;
}
.home-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-form-group {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
.input-field {
    width: 100%;
    height: 1.3rem;
}
.home-button {
    background-color: #333;
    color: white;
    margin-top: 0.5rem;
    border-radius: 5px;
    width: 75px;
    height: 25px;
}
.home-signup-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;  
}
.account-message {
    margin: 0.5rem;
    padding: 0;
}
.home-create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}